<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Search</title>
    </head>
    <body>

        <h1>Search results</h1>
        <table>
            <tr th:each="signup : ${signups}">
                <td th:text="${signup.name}">Person Name 1</td>
            </tr>
        </table>
        
        <form action="#" th:action="@{/search}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><input type="submit" value="Search again" /></p>
        </form>
    </body>
</html>
